<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usefullthings</title>

</head>
<body>
<h3>Edit workstation</h3>
<form th:action="@{/workstations/edit/{id}(id=${id})}"
      th:object="${workStation}"
      method="post">

    <label for="name">WS Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <img th:src="@{/upload/{filename}(filename=${workStation.filename})}" alt="" border=3 height=50 width=150</img>
    <br/>
    <input type="submit" value="Update"/>


</form>


</body>
</html>